/*ZD 100147 Start*/
/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 ZD 100886 End*/
#loading {
	position:absolute;
	left:300;
	top:50;
	visibility:visible;
}

#myapplet {
	position:absolute;
	left:40;
	top:60;
	visibility:hide;
}

#title {
	position:absolute;
	left:0;
	top:5;
	visibility:visible;
}

#others {
	position:absolute;
	left:0;
	top:70;
	visibility:visible;
}


A.appletlink:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
A.appletlink:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
A.appletlink:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.appletlink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff3300;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}

