﻿<!--ZD 100147 Start-->
<!--/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/-->
<!--ZD 100147 ZD 100886 End-->
<br/>
<br/>
<hr width="80%"/>


<script Language="JavaScript">
<!--

	var mt = "";
	var _d = document;

	mt += "<center><table border='0' cellpadding='2' cellspacing='2'>";
	mt += "<tr valign='bottom'>";
	mt += "<td colspan=5 align=center>";
	mt += "<span class=srcstext2>myVRM Version <%=Application["Version"]%>(c), Copyright <%=Application["CopyrightsDur"].ToString()%> <a href='http://www.myvrm.com' target='_blank'>myVRM.com</a>.  All Rights Reserved.</span>";//FB 1648
	mt += "</td>";
	mt += "</tr>";
	mt += "</table></center>";


	_d.write(mt)

//-->
</script>


</body>
</html>