﻿<!--ZD 100147 Start-->
<!--/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/-->
<!--ZD 100147 ZD 100886 End-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
<script language="javascript">

    function adjustWidth(obj)
    {
        if(obj.style.width == "")
        if (obj.src.indexOf("lobbytop1024.jpg") >= 0)
        {
            obj.style.width=window.screen.width-25; // fogbugz case 286
//            if (window.screen.width <= 1024)
//                obj.src = "../sp/image/company-logo/StdBanner.jpg"; // Organization Css Module
//            else
//                obj.src = "../sp/image/company-logo/HighBanner.jpg"; // Organization Css Module
                //FB 1830
            if (window.screen.width <= 1024)
                obj.src = "../image/company-logo/StdBanner.jpg"; // Organization Css Module
            else
                obj.src = "../image/company-logo/HighBanner.jpg"; // Organization Css Module
                
        }
    }

  //-->
  </script>
  <title>myVRM</title>
  <meta name="Description" content="myVRM (Videoconferencing Resource Management) is a revolutionary Web-based software application that manages any video conferencing environment.">
  <meta name="Keywords" content="VRM, myVRM, Videoconferencing Resource Management, video conferencing, video bridges, video endpoints">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%--FB 1830--%>
  <link rel="stylesheet" title="Expedite base styles" type="text/css" href="../sp/Organizations/Original/styles/main.css">  
  <script type="text/javascript" src="../script/errorList.js"></script>
</head>

<body bottommargin="0" leftmargin="0" rightmargin="0" topmargin="0" marginheight="0" marginwidth="0">

  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="btprint">
    <tr valign="top">
      <td width="100%" height="72"><img border="0" runat="server" id="mainTop1" alt="palo mayor"  height="72"/></td> <%--ZD 100419--%>
    </tr>
  </table>
  
  <script language="javascript" type="text/javascript">

            var obj = document.getElementById('mainTop1');
            if(obj != null)
            {
            obj.style.width=window.screen.width-25; // fogbugz case 286
//            if (window.screen.width <= 1024)
//                obj.src = "../sp/image/company-logo/StdBanner.jpg"; // Organization Css Module 
//            else
//                obj.src = "../sp/image/company-logo/HighBanner.jpg";  //Organization Css Module 
//                }
                //FB 1830
            if (window.screen.width <= 1024)
                obj.src = "../image/company-logo/StdBanner.jpg"; // Organization Css Module 
            else
                obj.src = "../image/company-logo/HighBanner.jpg";  //Organization Css Module 
             }
    
</script>
