/*ZD 100147 Start*/
/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 ZD 100886 End*/
.tableHeader
{
    background-color: #86c328;
    color: Yellow;
    font-weight: bold;
    border-color: Blue;
    border-bottom: blue 1px solid;
    border-left: blue 1px solid;
    border-top: blue 1px solid;
    border-right: blue 1px solid;
}
.altColoredBackground
{
    background-color: #86c328
}
.lblError
{
    Font-Size:medium;
    color: Red;
    font-weight: bold;
    padding: 5px 3px 5px 3px;
    background-color:InfoBackground;
    border: inherit
}
a:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: bottom;
    COLOR: black;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
a:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: bottom;
    COLOR: Blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
a:Link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: bottom;
    COLOR: Blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.s:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.s:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #efd7ef;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.s:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: tomato;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.s:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff3300;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.s2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: gray;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb1:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff6347;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb1:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff6347;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb1:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: purple;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff3300;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb2:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb2:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb2:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: tomato;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb2:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff3300;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb3:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: Purple;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.sb3:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #0080ff;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.sb3:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: Purple;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.sb3:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: bottom;
    COLOR: Purple;
    FONT-FAMILY: Verdana, Arial;
    TEXT-DECORATION: none
}
A.t:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: royalblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.t:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.t:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.t:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: royalblue;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.tb:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.tb:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.tb:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: orange;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.tb:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: black;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
A.fb:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #00ff33;
    FONT-FAMILY: Century Gothic, Verdana;
    TEXT-DECORATION: none
}
A.fb:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #00ff33;
    FONT-FAMILY: Century Gothic, Verdana;
    TEXT-DECORATION: none
}
A.fb:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #00ff33;
    FONT-FAMILY: Century Gothic, Verdana;
    TEXT-DECORATION: none
}
A.fb:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #ccff00;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Century Gothic;
    TEXT-DECORATION: none
}
A.e:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    VERTICAL-ALIGN: bottom;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
A.e:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    VERTICAL-ALIGN: bottom;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
A.e:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    VERTICAL-ALIGN: bottom;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
A.e:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    VERTICAL-ALIGN: bottom;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica
}
A.callink:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.callink:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
A.callink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: underline
}
A.tl:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
A.tl:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
A.tl:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: bottom;
    COLOR: blue;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
A.tl:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: bottom;
    COLOR: #ff3300;
    FONT-FAMILY: Tahoma, Arial;
    TEXT-DECORATION: none
}
A.sttitlelink:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica
}
A.sttitlelink:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica
}
A.sttitlelink:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: underline
}
A.sttitlelink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: lightblue;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica
}
.iframe
{
    SCROLLBAR-FACE-COLOR: magenta
}
H3
{
    FONT-SIZE: 16pt;
    MARGIN: 0px 5px 2px;
    COLOR: #86c328;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
H6
{
    FONT-SIZE: 12pt;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
H7
{
    FONT-SIZE: 12pt;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
TD
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana
}
SELECT
{
    BORDER-RIGHT: #0080ff 2px solid;
    BORDER-TOP: #0080ff 3px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0080ff 2px solid;
    COLOR: blue;
    BORDER-BOTTOM: #0080ff 3px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
TEXTAREA
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 213px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
LABEL
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: top;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.altText
{
    BORDER-RIGHT: #86c328 2px solid;
    BORDER-TOP: #86c328 2px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 2px solid;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 2px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altReadonlyText
{
    BORDER-RIGHT: #0080ff 0px solid;
    BORDER-TOP: #0080ff 0px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0080ff 0px solid;
    COLOR: blue;
    BORDER-BOTTOM: #0080ff 0px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altTextReadOnly
{
    BORDER-RIGHT: #86c328 thin solid;
    BORDER-TOP: #86c328 thin solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 thin solid;
    COLOR: white;
    BORDER-BOTTOM: #86c328 thin solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: lightgrey
}
.short3TextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 120px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.short4TextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 115px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.short2TextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 170px;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.shortTextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 193px;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.longTextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 400px;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.disabledShort1TextareaFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 6pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 160px;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana
}
.disabledShort2TextareaFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 7pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 180px;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana
}
.disabledShort8TextareaFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 7pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 12px;
    COLOR: gray;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana
}
.disabled8TextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 250px;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.disabledShortTextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 335px;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.disabledTextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 720px;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana
}
.disabledWhiteShortTextareaFormat
{
    BORDER-RIGHT: #0080ff 0px solid;
    BORDER-TOP: #0080ff 0px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0080ff 0px solid;
    WIDTH: 410px;
    BORDER-BOTTOM: white 7px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.disabledWhiteTextareaFormat
{
    BORDER-RIGHT: #0080ff 0px solid;
    BORDER-TOP: #0080ff 0px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0080ff 0px solid;
    WIDTH: 500px;
    BORDER-BOTTOM: white 7px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.TestInXMLTextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 700px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.disabledInputFormat
{
    BORDER-RIGHT: #0080ff 0px solid;
    BORDER-TOP: #0080ff 0px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0080ff 0px solid;
    BORDER-BOTTOM: #fff7e7 0px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #fff7e7
}
.disabledShortInputFormat
{
    BORDER-RIGHT: #0080ff 0px solid;
    BORDER-TOP: #0080ff 0px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #0080ff 0px solid;
    COLOR: blue;
    BORDER-BOTTOM: #fff7e7 0px solid;
    FONT-FAMILY: Verdana
}
.altButtonFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    COLOR: #fff7ce;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #0080ff
}
.normalButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana
}
.normalFormat
{
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: transparent
}
.altixsButtonFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #86c328 solid;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #86c328
}
.altLongSmallButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 180pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLong10BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 360pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLong3BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 220pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLong3BlueButtonDisabled
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 220pt;
    CURSOR: pointer;
    COLOR: silver;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLong2BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 200pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLong1BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 180pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLongBlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 160pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLongBlueButtonDisabled
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 160pt;
    CURSOR: pointer;
    COLOR: silver;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altBlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 140pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altBlueButtonDisabled
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 140pt;
    CURSOR: pointer;
    COLOR: silver;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort0BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 130pt;
    CURSOR: pointer;
    COLOR: #ffffff;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort1BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 118pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShortBlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 80pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort4BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 70pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort5BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 90pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort6BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 110pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort7BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 60pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altShort8BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 30pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 12pt;
    BACKGROUND-COLOR: #86c328
}
.altShort2BlueButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 60pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altshort3Bluebuttonformat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 40pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altshort3Bluebuttondisabled
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 40pt;
    CURSOR: pointer;
    COLOR: silver;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altRedButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 140pt;
    CURSOR: pointer;
    COLOR: #fff7ce;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: red
}
.altShortYellowButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 113pt;
    CURSOR: pointer;
    COLOR: white;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: blue
}
.altYellowButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 140pt;
    CURSOR: pointer;
    COLOR: white;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLongYellowButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 160pt;
    CURSOR: pointer;
    COLOR: white;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #86c328
}
.altLong1YellowButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 180pt;
    CURSOR: pointer;
    COLOR: white;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 16pt;
    BACKGROUND-COLOR: #999999;
    FONT-STRETCH: condensed
}
.altDarkBlueSButtonFormat
{
    BORDER-RIGHT: blue 0px solid;
    BORDER-TOP: blue 0px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: blue 0px solid;
    WIDTH: 45pt;
    CURSOR: pointer;
    COLOR: white;
    BORDER-BOTTOM: blue 0px solid;
    FONT-FAMILY: Verdana;
    HEIGHT: 12pt;
    BACKGROUND-COLOR: #86c328
}
.altLong1SelectFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 320px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altLongSelectFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 250px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altLong0SelectFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 215px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.alt2SelectFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 120px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altlSelectFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 166px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altSelectFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 172px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altSmall0SelectFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 110px;
    COLOR: black;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altSmallSelectFormat
{
    BORDER-RIGHT: #86c328 1px solid;
    BORDER-TOP: #86c328 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    BORDER-LEFT: #86c328 1px solid;
    WIDTH: 95px;
    COLOR: black;
    BORDER-BOTTOM: #86c328 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.SelectFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 158px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altShort1SelectFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 81px;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.altShortSelectFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    WIDTH: 80px;
    COLOR: dimgray;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.bigblueblodtext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: blue;
    LINE-HEIGHT: 20pt;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blueblodtext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    TEXT-TRANSFORM: capitalize;
    COLOR: blue;
    LINE-HEIGHT: 20pt;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.tabtext
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    CURSOR: pointer;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: underline
}
.subtitleblueblodtext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: #86c328;
    LINE-HEIGHT: 20pt;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.subtitlexxsblueblodtext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #86c328;
    LINE-HEIGHT: 20pt;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.subtitle9bluetext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #86c328;
    LINE-HEIGHT: 20pt;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: underline
}
.tableblackblodtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: black;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.tableblueblodlinktext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    VERTICAL-ALIGN: bottom;
    TEXT-TRANSFORM: uppercase;
    COLOR: blue;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: underline
}
.tableblueblodtext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: #6b8e23;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.tableblackblodlinktext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: black;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.contacttext
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.numwhiteblodtext
{
    MARGIN-TOP: 10pt;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: white;
    PADDING-TOP: 10pt;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blackbigblodtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blackblodtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blacktext
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.srcstext3
{
    FONT-SIZE: 10pt;
    TEXT-DECORATION: none
}
.srcstext2
{
    FONT-SIZE: 7pt;
    TEXT-DECORATION: none
}
.srcstext1
{
    FONT-SIZE: 9pt;
    TEXT-DECORATION: none
}
.srcstext
{
    FONT-SIZE: 8pt;
    TEXT-DECORATION: none
}
.cmmttext
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-STYLE: italic;
    TEXT-DECORATION: none
}
.orangesboldtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #3c5c82;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blackxxxsboldtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blackxxxstext
{
    FONT-SIZE: 8pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.blackItalictext
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.bigtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    TEXT-DECORATION: none
}
.callinktext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    VERTICAL-ALIGN: bottom;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.lightgrayboldstext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.lightgrayboldtext
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11pt;
    COLOR: gray;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.reqfldText
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.reqfldstarText
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.cmtfldstarText
{
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.summaryText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ff00ff;
    FONT-FAMILY: Verdana, Helvetica;
    TEXT-DECORATION: none
}
.altTextareaFormat
{
    BORDER-RIGHT: #86c328 solid;
    BORDER-TOP: #86c328 solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: #86c328 solid;
    COLOR: blue;
    BORDER-BOTTOM: #86c328 solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: white
}
.para_small
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial,helvetica
}
UNKNOWN
{
    BORDER-RIGHT: #000 2px solid;
    BORDER-TOP: #fff 2px solid;
    DISPLAY: none;
    FONT-SIZE: 11px;
    BACKGROUND: #d4d0c8;
    BORDER-LEFT: #fff 2px solid;
    CURSOR: default;
    COLOR: #000;
    BORDER-BOTTOM: #000 2px solid;
    FONT-FAMILY: tahoma,verdana,sans-serif;
    POSITION: relative
}
.calendar TABLE
{
    BORDER-RIGHT: #fff 1px solid;
    BORDER-TOP: #000 1px solid;
    FONT-SIZE: 11px;
    BACKGROUND: #d4d0c8;
    BORDER-LEFT: #000 1px solid;
    CURSOR: default;
    COLOR: #000;
    BORDER-BOTTOM: #fff 1px solid;
    FONT-FAMILY: tahoma,verdana,sans-serif
}
.calendar TD
{
    FONT-SIZE: 8pt
}
.calendar .button
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #fff 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid;
    TEXT-ALIGN: center
}
.calendar .nav
{
    BACKGROUND: url(../image/calmenuarrow.gif) no-repeat 100% 100%
}
.calendar THEAD .title
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    BACKGROUND: #848078;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #000 1px solid;
    COLOR: #fff;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid;
    TEXT-ALIGN: center
}
.calendar THEAD .headrow
{
}
.calendar THEAD .daynames
{
}
.calendar THEAD .name
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    BACKGROUND: #f4f0e8;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #000 1px solid;
    TEXT-ALIGN: center
}
.calendar THEAD .weekend
{
    COLOR: #f00
}
.calendar THEAD .hilite
{
    BORDER-RIGHT: #000 2px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #fff 2px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #fff 2px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000 2px solid;
    BACKGROUND-COLOR: #e4e0d8
}
.calendar THEAD .active
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 1px solid;
    BACKGROUND-COLOR: #c4c0b8
}
.calendar TBODY .day
{
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    WIDTH: 2em;
    PADDING-TOP: 2px;
    TEXT-ALIGN: right
}
.calendar TABLE .wn
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 2px;
    BACKGROUND: #f4f0e8;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.calendar TBODY .rowhilite TD
{
    BACKGROUND: #e4e0d8
}
.calendar TBODY .rowhilite TD.wn
{
    BACKGROUND: #d4d0c8
}
.calendar TBODY TD.hilite
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #fff 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid
}
.calendar TBODY TD.active
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 1px solid
}
.calendar TBODY TD.selected
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    BACKGROUND: #e4e0d8;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 1px solid
}
.calendar TBODY TD.weekend
{
    COLOR: #f00
}
.calendar TBODY TD.today
{
    FONT-WEIGHT: bold;
    COLOR: #00f
}
.calendar TBODY .disabled
{
    COLOR: #999
}
.calendar TBODY .emptycell
{
    VISIBILITY: hidden
}
.calendar TBODY .emptyrow
{
    DISPLAY: none
}
.calendar TFOOT .footrow
{
}
.calendar TFOOT .ttip
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 1px;
    BACKGROUND: #848078;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #000 1px solid;
    COLOR: #fff;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid;
    TEXT-ALIGN: center
}
.calendar TFOOT .hilite
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 1px;
    BACKGROUND: #e4e0d8;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #fff 1px solid;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid
}
.calendar TFOOT .active
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #fff 1px solid
}
.combo
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #fff 1px solid;
    DISPLAY: none;
    PADDING-LEFT: 1px;
    FONT-SIZE: smaller;
    BACKGROUND: #e4e0d8;
    LEFT: 0px;
    PADDING-BOTTOM: 1px;
    BORDER-LEFT: #fff 1px solid;
    WIDTH: 4em;
    CURSOR: default;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #000 1px solid;
    POSITION: absolute;
    TOP: 0px
}
.combo .label
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}
.combo .label-IEfix
{
    PADDING-RIGHT: 1px;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    TEXT-ALIGN: center
}
.combo .label-IEfix
{
    WIDTH: 4em
}
.combo .active
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: #c4c0b8;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #000 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #fff 1px solid
}
.combo .hilite
{
    BACKGROUND: #048;
    COLOR: #fea
}
.calendar TD.time
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    BACKGROUND-COLOR: #f4f0e8;
    TEXT-ALIGN: center
}
.calendar TD.time .hour
{
    BORDER-RIGHT: #889 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #889 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #889 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #889 1px solid;
    BACKGROUND-COLOR: #fff
}
.calendar TD.time .minute
{
    BORDER-RIGHT: #889 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #889 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #889 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #889 1px solid;
    BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm
{
    BORDER-RIGHT: #889 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #889 1px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: #889 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #889 1px solid;
    BACKGROUND-COLOR: #fff
}
.calendar TD.time .ampm
{
    TEXT-ALIGN: center
}
.calendar TD.time .colon
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px
}
.calendar TD.time SPAN.hilite
{
    BORDER-LEFT-COLOR: #000;
    BORDER-BOTTOM-COLOR: #000;
    COLOR: #fff;
    BORDER-TOP-COLOR: #000;
    BACKGROUND-COLOR: #766;
    BORDER-RIGHT-COLOR: #000
}
.calendar TD.time SPAN.active
{
    BORDER-LEFT-COLOR: #f00;
    BORDER-BOTTOM-COLOR: #f00;
    COLOR: #0f0;
    BORDER-TOP-COLOR: #f00;
    BACKGROUND-COLOR: #000;
    BORDER-RIGHT-COLOR: #f00
}
TD.celltitle
{
    BORDER-RIGHT: #888888 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #888888 1px solid;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    PADDING-BOTTOM: 2px;
    VERTICAL-ALIGN: bottom;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #888888 1px solid;
    COLOR: black;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #888888 1px solid;
    FONT-FAMILY: verdana, helvetica;
    WHITE-SPACE: nowrap;
    BORDER-COLLAPSE: collapse;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center
}
TD.celltitle A
{
    CURSOR: pointer;
    TEXT-DECORATION: underline
}
TD.coloredcell
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 0px;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana, helvetica;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-ALIGN: center
}
TD.noncoloredcell
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 0px;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana, helvetica;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center
}
TD.coloredcell-ifrm
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 0px;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana, helvetica;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-ALIGN: center
}
TD.noncoloredcell-ifrm
{
    BORDER-RIGHT: 0px;
    PADDING-RIGHT: 1px;
    BORDER-TOP: 0px;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    PADDING-BOTTOM: 1px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: 0px;
    COLOR: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: 0px;
    FONT-FAMILY: verdana, helvetica;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: center
}
TD.labelcell
{
    TEXT-ALIGN: right
}
TD.fieldcell
{
    TEXT-ALIGN: left
}
.HeaderRow
{
    BORDER-RIGHT: blue;
    BORDER-TOP: blue solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue solid;
    BORDER-BOTTOM: blue solid;
    FONT-FAMILY: Verdana;
    font-size: small;
    font-style: normal;
    text-align: center;
    color: Blue;
    BACKGROUND-COLOR: #FFE0C0;
    height: 30px;
}
.HeaderCell
{
    BORDER-RIGHT: blue;
    BORDER-TOP: blue solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: blue solid;
    BORDER-BOTTOM: blue solid;
    FONT-FAMILY: Verdana;
    font-size: small;
    font-style: normal;
    text-align: center;
    color: Blue;
    BACKGROUND-COLOR: #FFE0C0;
    height: 30px;
}
.heading1{
	font-family: Arial,Verdana, Geneva, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color: #000;
}

.headingBlue
{
	color:Blue;
}
.redText

{ 

color: red; font-size: 11px; font-weight: bold 
}

.blueSText

{ 
color

:blue ;font-size:10px 
}
