﻿/*ZD 100147 Start*/
/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 ZD 100886 End*/
/* Stylesheet for Report Server
 * Colors: #3366CC - Dark Blue		e.g. Tabstrip, Global Links Text
 *         #93BEE2 - Medium Blue	e.g. Checkboxes stripe
 *         #d8e8f5 - Sky Blue		e.g. Global Links background
 *         #ffcc00 - Gold/Yellow	e.g. Selected tab
 *	   #new EEB41C - new gold color FFCC00
*         #ece9d8 - Windows Tan    e.g. Single item action buttons background
 *         #7f93a9 - Gray Blue      e.g. Button background
*          #6a7c8e - Dark Gray Blue e.g. Button border
*          #a0a9e6 - New left hand nav color and button change to #99ccff left hand nav to 0066cc
 *	   #FDFDFE - White
 *	   #cccccc - NEW LEFT HAND NAV GREY
*/

body {
   margin:       0;
   background-color: White;
   font-family: Verdana, Sans-Serif;
   font-size: x-small;
}

body a 
{
	font-size: x-small;
	font-family: Verdana;
	color: #000000;
}

.msrs-label {
	font-family: Verdana, Sans-Serif;
	font-size: x-small;
}

.msrs-normal 
{
	font-family: Verdana, Sans-Serif;
	font-size: x-small;
	font-weight:normal;
}

.msrs-parameterLabel 
{
	font-family: Verdana, Sans-Serif;
	font-size: x-small;
	font-weight:bold;
}

/* Title Text of a section header */
.msrs-sectionheader
{
   color: black;
   font-family: Verdana;
   font-size: small;
   font-weight: bold;
   padding-top: 10px;
}

/* Title text of a section header on the Report Properties page */
.msrs-rptSectionHead
{
   color: black;
   font-family: Verdana;
   font-size: x-small;
   font-weight: bold;
}

/* Separator line below section header */
.msrs-sectionline
{
   background-color: #3366CC;
}

/* Links on page */
.msrs-nav {
   text-decoration: none;
   font-family:  Verdana, sans-serif;
   font-size:    x-small;
   font-weight: normal;
   color: #3366CC;
}

/* Lower title on the page */
.msrs-lowertitle 
{
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
}

/* drop downs */
.msrs-dropdowns
{
	font-family:Verdana, Sans-Serif;
	font-size:x-small;
}

/* Upper title on the page */
.msrs-uppertitle
{
	font-family:Verdana;
	font-size:x-small;
}

/* Breadcrumb links */
.msrs-linkpanel
{
	color: Black;
	font-size: x-small;
	font-family: Verdana, Sans-Serif;
}

.msrs-linkpanel a {
   font-family:  Verdana, sans-serif;
   font-size:    x-small;
   font-weight: normal;
   color: Black;
}

/* Item in a list */
.msrs-listItem
{
	color: Black;
	font-size: x-small;
	font-family: Verdana, Sans-Serif;
	padding-left: 2px;
	padding-right: 8px;
}

.msrs-listItem a
{
	color: #000000;
}

/* Shared area */
.msrs-main{
}
   
/* Global links at top of page */
.msrs-banner 
{
   font-family:  Verdana, serif;
   color: #3366CC;
   background-color: #FDFDFE;
   font-size:    10px;
   font-family:  Verdana;
	font-weight: normal;
	padding: 2px;
}

.msrs-bannerframe { 
   background-color: #3366CC; 
}

/* Sub tabs */
.msrs-subtab
{
   font-family:  Verdana, serif;
   color: #CCCCCC;
   background-color: #ece9d8
;
   font-size:    xx-small;
   font-family:  Verdana;
	font-weight: bold;
	padding: 2px;
}
.msrs-subtabAsian
{
   font-family:  Verdana, serif;
   color: #CCCCCC;
   background-color: #ece9d8
;
   font-size:    x-small;
   font-family:  Verdana;
	font-weight: bold;
	padding: 2px;
}

.msrs-subtab a
{
	font-size:xx-small;
}
.msrs-subtabAsian a
{
	font-size:x-small;
}


/* Label of search box*/
.msrs-search {
   font-family:  Verdana, serif;
   font-size:    x-small;
   color:        black;
   font-weight:  normal;
   text-decoration: none;
}

/* Area containing page titles */
.msrs-titleareaframe {
   color: black; 
	 border-right: none;
}

/* Invalid data entered by user on page. */
.msrs-validationerror
{
   font-family:  Verdana, serif;
   font-size:    x-small;
   color:        red;
   font-weight:  normal;
   text-decoration: none;	
}

/* Valid data entered by user on page. */
.msrs-valid
{
   font-family:  Verdana, serif;
   font-size:    x-small;
   color:        green;
   font-weight:  normal;
   text-decoration: none;	
}

/* Header of a sortable column in a table list */
.msrs-listHeader
{
	color: #3366CC;
	font-size: x-small;
	font-family: Verdana, Sans-Serif;
	text-align: left;
	/* Coordinate this border color with the border color in code */
	cursor: pointer;
	padding-left: 1px;
	/*border: 1px solid white;*/
}

.msrs-listHeaderPadded
{
	color: #3366CC;
	font-size: x-small;
	font-family: Verdana, Sans-Serif;
	text-align: left;
	/* Coordinate this border color with the border color in code */
	cursor: pointer;
	border: 1px solid white;
	padding-left: 0px;
	padding-right: 8px;
}

.msrs-listHeader a
{
	text-decoration: bold;
}

/* Header of a non-sortable column in a table list */
.msrs-nosortListHeader
{
	color: #3366CC;
	font-size: x-small;
	font-family: Verdana, Sans-Serif;
	text-align: left;
	padding-left: 1px;
	padding-right:8px;
	font-weight: normal;
}

.msrs-thinPageBorder
{
   background-color: #FFCC00; 
   width: 100%;
}

/* Tab control */
.msrs-tabs
{
	background-color:white;
}

.msrs-tabSeparator
{
	border-bottom:5px solid #3366CC;
}

/*
 * Shared area
 * /

/* Content frame, including left & right borders, tab strip, and content */
.msrs-contentFrame
{
	background-color: White;
	/*border-top: 2px solid #3366CC;*/
	width:100%;
	height:100%;
}

.msrs-innerContentFrame
{
	background-color: White;
	border-top: 4px solid #FFCC00;
/* Keep the width of this border in sync with Global.Spacing.LeftPageBorderWidth */
	width:100%;
	height:100%;
}

/* Calendar control */
.msrs-Calendar
{
}

.msrs-CalendarTitle
{
	background: #336699;
	color: White;
}

.msrs-CalendarDayHeaderStyle
{
	background: #ffcc00;
	font-size:x-small;
}

.msrs-CalendarWeekendDayStyle
{
	background: #ffffff;
}

.msrs-CalendarSelectedDayStyle
{
	background: red;
}

/* buttons for performing actions on multiple items in a checkbox list */
.msrs-buttonHeaderButton
{
	border: 1px solid #ece9d8;
	background-color: #ece9d8;
	cursor: pointer;
}

.msrs-buttonHeaderText
{
	font-family:Verdana,sans-serif;
	font-size:x-small;
	text-decoration:none;
	color: Black;
}

.msrs-buttonHeaderButtonHover
{
	border: 1px solid #6a7c8e;
	background-color: #FFFFFF;
	cursor: pointer;
}

.msrs-buttonHeaderButtonHoverPressed
{
	border: 1px solid #6a7c8e;
	background-color: #99ccff;
	cursor: pointer;
}

.msrs-buttonHeaderSeparator
{
	color: #3366CC;
}

.msrs-buttonHeaderBackground
{
	background-color: #ece9d8;
}


/* Generic buttons */
.msrs-button
{
	font-family: Verdana;
	font-size: x-small;
}

/* Link buttons */
.msrs-linkButton
{
	color: #3366CC;
}

/* Generic text area */
.msrs-txtBox
{
	font-family:Verdana, Sans-Serif;
	font-size:x-small;
}

/* Last Run text on folder list view */
.msrs-lastRunCell
{
	font-family: Verdana, Sans-Serif;
	font-size: x-small;
	font-style:italic;
}

.msrs-newPunc
{
	font-family: Verdana, Sans-Serif;
	font-size: x-small;
	font-weight: bold;
	color: Green;
}

.msrs-newText
{
	font-family: Verdana, Sans-Serif;
	font-size: xx-small;
	color: Green;
}
.msrs-newTextAsian
{
	font-family: Verdana, Sans-Serif;
	font-size: x-small;
	color: Green;
}

/* Spacer */
.msrs-space
{
	margin:0;
	padding:0;
}

/* Unselected tab */
.msrs-unselectedTab
{
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:xx-small;
	color:#ffffff;
	background-color:#3366CC;
	padding:5px 5px 6px 5px;
}
.msrs-unselectedTabAsian
{
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:x-small;
	color:#ffffff;
	background-color:#3366CC;
	padding:5px 5px 6px 5px;
}

.msrs-unselectedTab a
{
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:xx-small;
	color:#ffffff;
}
.msrs-unselectedTabAsian a
{
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:x-small;
	color:#ffffff;
}

/* Selected tab */
.msrs-selectedTab
{
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:xx-small;
	background-color:#FFCC00;
	color:#000000;
	text-decoration:none;
	padding:5px 5px 6px 5px;
}
.msrs-selectedTabAsian
{
	text-align:center;
	font-family:Verdana;
	font-weight:bold;
	font-size:x-small;
	background-color:#FFCC00;
	color:#000000;
	text-decoration:none;
	padding:5px 5px 6px 5px;
}

.msrs-selectedTab a
{
	font-size:xx-small;
	color:#000000;
}
.msrs-selectedTabAsian a
{
	font-size:x-small;
	color:#000000;
}

/* Tab separator */
.msrs-tabSep
{
	background-color:white;
	border-bottom:5px solid #3366cc
}
.msrs-multiValueDropDown
{
	border: 1px DarkGray solid;
}
BODY, FRAMESET, FORM
{
	margin: 0px;
	padding: 0px;
}

.PageNumberText, INPUT, BUTTON, SELECT, TABLE, BODY, FRAMESET
{
	font-size: 8pt;
	font-family: Verdana
}

.ActiveLink:link
{
	color: #3366CC;
	text-decoration: none
}

.ActiveLink:hover
{
	color: #FF3300;
	text-decoration: underline
}

.ActiveLink:visited
{
	color: #3366CC;
	text-decoration: none
}

.ActiveLink:visited:hover
{
	color: #FF3300;
	text-decoration: underline
}

.WaitInfoCell
{
	vertical-align: middle;
	text-align: center;
}

.WaitText
{
	font-family: Verdana;
	font-weight: normal;
	font-size: 14pt;
}

.ContentCell
{
	background-color: White;
}

.ParametersFrame
{
	border-bottom: 1px black solid
}

.ParamLabelCell
{
	padding: 5px;
	padding-right: 0px;
	vertical-align: baseline
}

.ParamEntryCell
{
	padding: 5px;
	vertical-align: baseline
}

.ParamsGrid
{
	margin: 0px;
	padding: 5px
}

.InterParamPadding
{
	padding-left: 22px
}

.EmptyDropDown
{
	width: 15ex;
}

.SubmitButtonCell
{
	border-left: 1px black solid;
	align: center;
	padding: 10px;
	vertical-align: top
}

.MenuBarBkGnd
{
	background-color: #ECE9D8
}

.ToolbarFrameWithParametersVisible
{
	border-top: 1px darkgray solid
}

.ToolbarFrameWithParametersCollapsed
{
	border-top: 1px darkgray solid
}

.ToolBarButtonsCell
{
	padding-left: 6px
}

.ToolbarDocMapToggle
{
	display: inline;
}

.ToolbarPageNav
{
	display: inline;
}

.ToolbarZoom
{
	display: inline;
}

.ToolbarFind
{
	display: inline;
}

.ToolbarExport
{
	display: inline;
}

.ToolbarRefresh
{
	display: inline;
}

.ToolbarPrint
{
	display: inline;
}

.ToolbarHelp
{
	display: inline;
}

.ToolbarToggleParams
{
}

.ShowHideParametersGroup
{
	padding-right: 4px
}

.InterWidgetGroup
{
	padding-right: 4px
}

.DisabledLink
{
	color: gray;
	text-decoration: none;
	cursor: default;
}

.ImageWidget
{
	height: 16px;
	width: 16px;
	margin: 0px;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

.DisabledTextBox
{
	background-color: #ECE9D8;
}

.WidgetSet
{
	height: 30px
}

.WidgetSetSpacer
{
	padding-right: 20px;
}

.HoverPressedButton
{
	cursor: pointer;
	background-color: #99bbe2;
	border: 1px #336699 solid;
}

.HoverButton
{
	cursor: pointer;
	background-color: #ddeef7;
	border: 1px #336699 solid;
}

.NormalButton
{
	cursor: pointer;
	background-color: transparent;
	border: 1px #ECE9D8 solid;
}

.DisabledButton
{
	cursor: default;
	background-color: transparent;
	border: 1px #ECE9D8 solid;
}

.DocMapAndReportFrame
{
	border-top: 1px black solid
}

.DocMapContentCell
{
}

.DocMapTitle
{
	border-bottom: 1px black solid
}

.DocMapClose
{
	border-bottom: 1px black solid
}


.DocMapFrame
{
	border-right: 1px darkgray solid
}

.DocMapBar
{
	background-color: #ECE9D8;
	padding-right: 10px;
	padding-left: 10px;
	height: 22px
}
.RoomDiv
{
	display:inline-block;
	width:250px;
	border-color:DarkGray;
	border-width:1px;
	border-style:Solid;
	height:150px;
	overflow:auto;
	background-color:window;
	position:absolute;
	z-index:100;
}
