/*ZD 100147 Start*/
/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/
/*ZD 100147 ZD 100886 End*/
table.tabtable	{width: 800px; border: 0px; margin: 5px 5px 10px 5px; padding: 0px;}

table.header {border: 0px; margin: 0px; padding: 0px; text-align: center; font-weight: bold;}
table.header td.tabactive	{border-left:1px solid #EEEEEE; border-right:1px solid #CCCCCC; border-top:1px solid #EEEEEE; border-bottom:1px solid #DDDDDD; color: #000000; background-color: #CCE1D6;}
table.header td.tabinactive	{border-left:1px solid #EEEEEE; border-right:1px solid #CCCCCC; border-top:1px solid #EEEEEE; border-bottom:1px solid #DDDDDD; color: #808080; background-color: #EEEEEE;}

table.header a.link_tab_active:link		{width: 100%; color: #000000; text-decoration: none;}
table.header a.link_tab_active:active	{width: 100%; color: #000000; text-decoration: none;}
table.header a.link_tab_active:visited	{width: 100%; color: #000000; text-decoration: none;}
table.header a.link_tab_active:hover	{width: 100%; color: #000000; text-decoration: none; background-color: #CCE1D6;}

table.header a.link_tab_inactive:link		{width: 100%; color: #808080; text-decoration: none; background-color: #EEEEEE;}
table.header a.link_tab_inactive:active		{width: 100%; color: #808080; text-decoration: none; background-color: #EEEEEE;}
table.header a.link_tab_inactive:visited	{width: 100%; color: #808080; text-decoration: none; background-color: #EEEEEE;}
table.header a.link_tab_inactive:hover		{width: 100%; color: #000000; text-decoration: none; background-color: #CCE1D6;}


table.connent	{width: 100%; border: 1px solid #FFFFFF; margin: 0px; padding: 0px; text-align: left; background-color: #CCE1D6;}

table.footer	{width: 100%; border: 1px solid #FFFFFF; margin: 0px; padding: 0px; text-align: right; background-color: #EEEEEE; height: 40px;}
table.footer td	{text-align: center; vertical-align: bottom; padding: 5px;}

table.connent div.div_tab_inactive	{visibility: hidden; height: 0px; top: 100px;  overflow: hidden;}
table.connent div.div_tab_active	{visibility: visible; height: 100%; top: 100px; padding: 0px 5px 0px 5px;}
table.connent table.innerTabTable {border: 0px; width: 100%;}
