/*ZD 100147 Start*/
/* Copyright (C) 2014 myVRM - All Rights Reserved
* You may not use, distribute and/or modify this code under the
* terms of the myVRM license.
*
* You should have received a copy of the myVRM license with
* this file. If not, please write to: sales@myvrm.com, or visit: www.myvrm.com
*/ 
/*ZD 100147 ZD 100886 End*/
.breadcrumb {
	list-style-type: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #8760c1;
	border-width: 1px 0px;
	height: 19px;
}
.breadcrumb li.first {
	border-left: 1px solid #8760c1;
}
.breadcrumb li {
	float: left;
	border-right: 1px solid #8760c1;
	padding: 3px 10px;
}
.breadcrumb li a {
	display: block;
	text-decoration: none;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}

p {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
	max-width: 40em;
}
li p {
	margin-bottom: 0.75em;
}
br.clear {
	clear: both;
	margin: 0px;
}
.sidebar {
	margin: 0px 10px 30px 30px;
	clear: right;
	float: right;
	width: 134px;
	border: 1px solid #8760c1;
	background-color: #ccaaff;
	padding: 5px;
	font-size: 11px;
    font-family: 'Lucida Grande', Geneva, Verdana, Helvetica, Arial, sans-serif;
    -moz-border-radius: 0px 10px 0px 10px;
    border-radius: 0px 10px 0px 10px;
}
.sidebar, .sidebar p, .sidebar li {
	text-align: left;
}
.sidebar ul {
	margin: 0px;
	margin-left: 1.5em;
	padding: 0px;
	list-style-type: circle;
}

td.caption {
	font-size: 12px;
	text-align: center;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { background-color: #ffd700; }
